<h1>Editar Asignaciones</h1>
<hr class="division">
<%= link_to 'Regresar', asignaciones_path, class:"btn btn-info" %>
<%= link_to 'Mostrar', @asignaciones, class:"btn btn-warning" %> 


<%= render 'form', asignacione: @asignacione %>


